<ng-container *ngIf="userProfile$ | async as userProfile; else loading">
  <main class="main-follows">
    <div class="follow">
      <div role="div" aria-describedby="followers" matTooltipPosition="above" matTooltip="Seguidores" class="followers">
        <p aria-label="followers">{{ userProfile.follows.totalFollowers | follows }}</p>
        <p aria-label="followers">Seguidores</p>
      </div>
      <div role="div" aria-describedby="following" matTooltipPosition="above" matTooltip="Seguindo" class="follwing">
        <p aria-label="following">{{ userProfile.follows.totalFollowing | follows }}</p>
        <p aria-label="following">Seguindo</p>
      </div>
      <div role="div" aria-describedby="posts" matTooltipPosition="above" matTooltip="Posts" class="likes">
        <p aria-label="posts">{{ userProfile.profile.totalRegisters | follows }}</p>
        <p aria-label="posts">Posts</p>
      </div>
    </div>

    <ng-container *ngIf="userId$ | async as uuid">
      <ng-container *ngIf="uuid !== userProfile.id">
        <button
          *ngIf="!userProfile.isFollowing && userProfile.profilePublic"
          (click)="follow(userProfile, uuid)"
          mat-raised-button>
          follow
        </button>

        <button *ngIf="userProfile.isFollowing" (click)="follow(userProfile, uuid)" mat-raised-button>
          <span>Deixar</span>
        </button>

        <button
          *ngIf="!userProfile.isFollowing && !userProfile.profilePublic"
          (click)="requestFollow(userProfile)"
          mat-raised-button>
          <mat-icon>lock</mat-icon>
          <span>privado</span>
        </button>
      </ng-container>
    </ng-container>
  </main>
</ng-container>

<ng-template #loading>
  <div class="follow">
    <div class="followers loading-waves">
      <p>0</p>
      <p>seguidores</p>
    </div>
    <div class="follwing loading-waves">
      <p>0</p>
      <p>seguindo</p>
    </div>
    <div class="likes loading-waves">
      <p>0</p>
      <p>posts</p>
    </div>
  </div>
</ng-template>
