<ng-container *ngIf="userProfile$ | async as data; else loading">
  <div class="follow">
    <div role="div" aria-describedby="followers" matTooltipPosition="above" matTooltip="Seguidores" class="followers">
      <p aria-label="followers">{{ data.follows.totalFollowers | follows }}</p>
      <p aria-label="followers">Seguidores</p>
    </div>
    <div role="div" aria-describedby="following" matTooltipPosition="above" matTooltip="Seguindo" class="follwing">
      <p aria-label="following">{{ data.follows.totalFollowing | follows }}</p>
      <p aria-label="following">Seguindo</p>
    </div>
    <div role="div" aria-describedby="posts" matTooltipPosition="above" matTooltip="Posts" class="likes">
      <p aria-label="posts">{{ data.profile.totalRegisters | follows }}</p>
      <p aria-label="posts">Posts</p>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="follow">
    <div class="followers loading-waves">
      <p>0</p>
      <p>seguidores</p>
    </div>
    <div class="follwing loading-waves">
      <p>0</p>
      <p>seguindo</p>
    </div>
    <div class="likes loading-waves">
      <p>0</p>
      <p>posts</p>
    </div>
  </div>
</ng-template>
