// media queries max width 768px - mobile first
// container follow and likes
.main-follows {
  width: inherit;
  button {
    width: inherit;
  }
}

.follow {
  display: flex;
  background-color: inherit;
  min-height: 5rem;
  justify-content: center;
  align-items: center;
  // custom style for all divs
  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // firt paragraph bolder
    p:first-child {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
  div:nth-child(1) {
    position: relative;
  }
  div:nth-child(1)::before {
    content: '';
    width: 1px;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary);
    transform: translateY(50%);
  }
  div:nth-child(3) {
    position: relative;
  }
  div:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 50%;
    background-color: var(--primary);
    transform: translateY(50%);
  }
}
@media screen and (max-width: 768px) {
  // container follow and likes
  .main-follows {
    width: inherit;
    text-align: center;
  }
  .follow {
    display: flex;
    min-height: 6rem;
    justify-content: center;
    align-items: center;
    margin-left: -1.5rem;
    div {
      display: flex;
      padding: 0.5rem;
      p {
        font-size: 0.7rem;
        line-height: 0.7rem;
      }
      p:first-child {
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}
