@import '../../../../themes/mixins';

.explore {
  .page {
    @include size-page;

    flex-direction: column;
    display: flex;

    .feelingers {
      display: inline-block;
      padding: 6px 16px;

      border-radius: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      max-width: fit-content;
    }
  }
}
