@import '../../../../themes//mixins';

.public-details {
  margin-top: 5rem;
  .page {
    @include size-page;

    // customize container app-photo and app-followers
    .container-followers,
    .box {
      display: flex;
      gap: 1rem;
      * {
        flex: 1;
      }
      app-input-photo {
        flex: 0.3;
        min-height: 10rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .public-details {
    .page {
      .box {
        min-height: 12rem;
        margin-bottom: 3rem;
      }
    }
  }
}
