<main class="public-details">
  @if(userProfile$ | async; as profile) {
  <div class="page" [ngClass]="theme$ | async">
    <div class="box">
      <app-input-photo></app-input-photo>
      <div class="container-followers">
        <app-follwers [id]="userId$ | async" [profile]="profile" (socketio)="onSocketio($event)"></app-follwers>
      </div>
    </div>
    <app-user-details [profile]="profile"></app-user-details>
  </div>
  } @else if (!(isLoading$ | async)) {
  <p>Carregando...</p>
  } @else if (!isLoadingHelper){
  <div class="public-details">
    <app-message></app-message>
    <app-404
      [theme]="theme$ | async"
      messageTitle="Erro interno - estamos trabalhando nisso..."
      [message]="'Não foi possível encontrar: ' + searchBy">
    </app-404>
  </div>
  }
</main>
