<main class="public-details" *ngIf="userProfile$ | async; else notFound" [ngClass]="theme$ | async">
  <div class="page">
    <app-cover></app-cover>

    <div class="box">
      <app-input-photo></app-input-photo>
      <div class="container-followers">
        <app-follwers [profile]="userProfile$ | async" (socketio)="onSocketio($event)"></app-follwers>
      </div>
    </div>

    <app-user-details [profile]="userProfile$ | async"></app-user-details>
  </div>
</main>

<ng-template #notFound>
  <div [ngClass]="theme$ | async" style="height: 100%">
    <app-cover></app-cover>
  </div>
</ng-template>
