<div class="create-new-password flex flex-col items-center justify-center">
  <div class="w-full max-w-md container">
    <app-message></app-message>
    <header class="header">
      <app-button-back></app-button-back>
      <div class="container-title">
        <p class="title">Nova Senha</p>
      </div>
    </header>
    <form class="form" [formGroup]="form">
      <div class="flex flex-col gap-y-5">
        <app-input-password
          (initForm)="onFireEvent(fieldNames.password, $event)"
          (trigger)="onFireEvent(fieldNames.password, $event)"></app-input-password>
        <app-input-confirm-password
          [password]="form.get(fieldNames.password)"
          (initForm)="onFireEvent(fieldNames.confirmPassword, $event)"
          (trigger)="onFireEvent(fieldNames.confirmPassword, $event)">
        </app-input-confirm-password>
        <div>
          <app-button-submit [form]="form" [name]="'Enviar'"></app-button-submit>
        </div>
      </div>
    </form>
  </div>
</div>
