<main class="account">
  <div class="container">
    <div class="title">
      <h1>Conta</h1>
      <p>Configurações de sua conta</p>
    </div>
    <app-message></app-message>
    <div class="box-card">
      <!-- <div class="card-menu">
        <mat-card routerLink="/profile/change-domain-name">
          <mat-card-header>
            <mat-icon mat-card-avatar>person</mat-icon>
            <mat-card-title>Suas informações</mat-card-title>
            <mat-card-subtitle>Resumo - dados cadastrados</mat-card-subtitle>
          </mat-card-header>
          <mat-icon class="floating">chevron_right</mat-icon>
        </mat-card>
      </div> -->

      <div class="card-menu">
        <mat-card routerLink="/profile/change-domain-name">
          <mat-card-header>
            <mat-icon mat-card-avatar>badge</mat-icon>
            <mat-card-title>Alterar nome de domínio</mat-card-title>
            <mat-card-subtitle>Seu nome para ser encontrador pelo sistema</mat-card-subtitle>
          </mat-card-header>
          <mat-icon class="floating">chevron_right</mat-icon>
        </mat-card>
      </div>
      <div class="card-menu">
        <mat-card routerLink="/profile/change-name">
          <mat-card-header>
            <mat-icon mat-card-avatar>account_box</mat-icon>
            <mat-card-title>Alterar apelido</mat-card-title>
            <mat-card-subtitle>Seu nome amigável por onde será chamada</mat-card-subtitle>
          </mat-card-header>
          <mat-icon class="floating">chevron_right</mat-icon>
        </mat-card>
      </div>
    </div>

    <div class="box-card">
      <div class="card-menu">
        <mat-card (click)="onDelete()">
          <mat-card-header>
            <mat-icon mat-card-avatar>delete</mat-icon>
            <mat-card-title>Excluir sua conta</mat-card-title>
            <mat-card-subtitle>todos os dados serão apagados</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</main>
