<main *ngIf="userPublicProfile$ | async as pup" class="public-profile" [ngClass]="theme$ | async">
  <div class="page">
    <app-cover></app-cover>

    <div *ngIf="!pup.pageable && pup.data; else showlist">
      <div class="container-photo">
        <div class="image">
          <div class="img">
            <button mat-icon-button>
              <mat-icon>camera</mat-icon>
            </button>
          </div>
        </div>

        <div class="container-followers">
          <app-follwers></app-follwers>
        </div>
        <div class="border-top-radious"></div>
      </div>
      <app-user-details></app-user-details>
    </div>

    <ng-template #showlist>
      <div class="container-pup">
        <mat-form-field appearance="fill" class="w-full">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" placeholder="Pesquisar" />
        </mat-form-field>

        @for (profile of pup.pageable.content; track $index) {
        <app-initial-explore (socketio)="onSocketio($event)" [profile]="profile"></app-initial-explore>
        }
      </div>
    </ng-template>
  </div>
</main>
