@import '../../../../../../themes/mixins';

.menu-account {
  @include size-toolbar;
  height: 100%;
  .container {
    @include size-page;
    .mat-mdc-card-header,
    .mat-mdc-card-avatar {
      padding: 0;
      margin: 0;
    }
    .mat-mdc-card-avatar {
      height: inherit;
    }
    .mat-mdc-card-header {
      &:hover {
        background-color: var(--color-white-brightness);
      }
      display: flex;
      align-items: center;
      cursor: pointer;
      min-height: 48px;
      padding: 1rem;
    }
    .title h1 {
      @include title-settings;
    }
    .box-card {
      @include box-card;
    }
  }
}
