@import '../../../../../../themes/mixins';

.account {
  padding-top: 5rem;
  height: 100%;
  .container {
    height: inherit;
    @include size-page;
    .mat-mdc-card-header,
    .mat-mdc-card-avatar {
      padding: 0;
      margin: 0;
    }
    .mat-mdc-card-avatar {
      height: inherit;
    }
    .mat-mdc-card-header {
      &:hover {
        background-color: var(--color-white-brightness);
      }
      display: flex;
      align-items: center;
      cursor: pointer;
      min-height: 48px;
      padding: 1rem;
    }
    .title h1 {
      font-size: 2rem;
      font-family: 'Open Sans';
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: 'wdth' 100;
      font-weight: 700;
    }
    .box-card {
      border: 1px solid var(--dark);
      border-radius: 0.5rem;
      width: 100%;
      margin-bottom: 2rem;
      .card-menu {
        border-bottom: 1px solid var(--border-default);
      }
      .card-menu:last-child {
        border: none;
      }
      mat-card-title,
      mat-card-subtitle {
        font-weight: 300;
        font-family: inherit;
      }
      mat-card {
        box-shadow: none;
        border: none;
        width: 100%;
        position: relative;
        background: none;
        mat-icon.floating {
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
        }
      }
    }
  }
}
