<main class="card-feeling">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span matTooltipPosition="left" matTooltip="Apelido" role="none" aria-describedby="name">{{
          (userName$ | async)?.name
        }}</span>
        <button
          matTooltip="Menu"
          [matMenuTriggerFor]="menus"
          matTooltipPosition="right"
          matTooltip="Menu"
          mat-icon-button
          role="button"
          aria-describedby="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menus="matMenu" overlapTrigger="true">
          <button (click)="details(happen)" matTooltipPosition="right" mat-menu-item matTooltip="Detalhes">
            <mat-icon>info</mat-icon>
            <span>Detalhes</span>
          </button>
          <button (click)="edit(happen)" matTooltipPosition="right" mat-menu-item matTooltip="Editar">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button (click)="remove(happen)" matTooltipPosition="right" mat-menu-item matTooltip="Remover">
            <mat-icon>remove</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        <span
          matTooltipPosition="left"
          style="cursor: pointer"
          routerLink="/profile/user"
          matTooltip="Nome de domínio"
          role="link"
          aria-describedby="nameId"
          >{{ happen.nameId }}</span
        >
        <span>|</span>
        <span matTooltipPosition="above" matTooltip="Data" role="timer" aria-describedby="date">{{
          happen.updatedAt | date
        }}</span>
        <ng-container [ngSwitch]="happen.visibility">
          <mat-icon
            *ngSwitchCase="status.PRIVATE"
            matTooltipPosition="right"
            matTooltip="Somente você pode visualizar"
            role="icon"
            aria-describedby="post-private"
            >lock</mat-icon
          >
          <mat-icon
            *ngSwitchCase="status.FOLLWERS"
            matTooltipPosition="right"
            matTooltip="Seguidores podem visualizar"
            role="icon"
            aria-describedby="post-followers"
            >person</mat-icon
          >
          <mat-icon
            *ngSwitchDefault
            matTooltipPosition="right"
            matTooltip="Público"
            role="icon"
            aria-describedby="post-public"
            >public</mat-icon
          >
        </ng-container>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content role="doc-epigraph" aria-describedby="post" aria-details="post content">
      <div [innerHTML]="happen.whatHappen | breakline"></div>
    </mat-card-content>

    <mat-card-actions>
      <div class="container-scores">
        <div matTooltipPosition="above" matTooltip="Score Positivo">
          <button disabled class="btn-score-pos" mat-icon-button role="button" aria-describedby="arrow_upward">
            <mat-icon aria-label="arrow_upward">arrow_upward</mat-icon>
          </button>
          <small>{{ happen.feelings.scorePositive | percent : '1.2-2' }}</small>
        </div>
        <div matTooltipPosition="above" matTooltip="Score Negativo">
          <button disabled class="btn-score-neg" mat-icon-button role="button" aria-describedby="arrow_downward">
            <mat-icon aria-label="arrow_downward">arrow_downward</mat-icon>
          </button>
          <small>{{ happen.feelings.scoreNegative | percent : '1.2-2' }}</small>
        </div>
      </div>
      <div class="container-likes">
        <div matTooltipPosition="above" matTooltip="Cutir">
          <small>{{ happen.likes.likedCount | follows }}</small>
          <button mat-icon-button role="button" aria-describedby="favorite">
            <ng-container *ngIf="userName$ | async as data">
              <mat-icon *ngIf="data.id !== happen.userId" aria-label="favorite">favorite_outline</mat-icon>
              <mat-icon *ngIf="data.id === happen.userId" aria-label="favorite">favorite</mat-icon>
            </ng-container>
          </button>
        </div>
        <div matTooltipPosition="above" matTooltip="Não curtir">
          <small>{{ happen.likes.dislikedCount | follows }}</small>
          <button mat-icon-button role="button" aria-describedby="not-favorite">
            <span aria-label="not-favorite" class="material-symbols-outlined"> thumb_down </span>
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</main>
