<main class="card-feeling">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="nickname" matTooltipPosition="left" matTooltip="Apelido" role="span" aria-describedby="name">
          {{ happen.nickname }}
        </span>
        <button
          matTooltip="Menu"
          [matMenuTriggerFor]="menus"
          matTooltipPosition="right"
          matTooltip="Menu"
          mat-icon-button
          role="button"
          aria-describedby="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menus="matMenu" overlapTrigger="true">
          <button
            (click)="stoppingViewing(happen)"
            *ngIf="id !== happen.userId"
            matTooltipPosition="right"
            mat-menu-item
            matTooltip="Editar">
            <mat-icon iconPositionEnd>remove</mat-icon>
            <span>Deixar de Visualizar</span>
          </button>
          <button
            *ngIf="id === happen.userId"
            (click)="edit(happen)"
            matTooltipPosition="right"
            mat-menu-item
            matTooltip="Editar">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button
            *ngIf="id === happen.userId"
            (click)="remove(happen)"
            matTooltipPosition="right"
            mat-menu-item
            matTooltip="Remover">
            <mat-icon>remove</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        <span
          class="name-id"
          matTooltipPosition="left"
          style="cursor: pointer"
          [queryParams]="{ name: happen.nameId }"
          routerLink="/public/details"
          matTooltip="Nome de domínio"
          role="link"
          aria-describedby="nameId"
          >{{ happen.nameId }}</span
        >
        <span>|</span>
        <span matTooltipPosition="above" matTooltip="Data" role="timer" aria-describedby="date">{{
          happen.updatedAt | date
        }}</span>
        <ng-container [ngSwitch]="happen.visibility">
          <mat-icon
            *ngSwitchCase="status.private"
            matTooltipPosition="right"
            matTooltip="Somente você pode visualizar"
            role="icon"
            aria-describedby="post-private"
            >lock</mat-icon
          >
          <mat-icon
            *ngSwitchCase="status.followers"
            matTooltipPosition="right"
            matTooltip="Seguidores podem visualizar"
            role="icon"
            aria-describedby="post-followers"
            >person</mat-icon
          >
          <mat-icon
            *ngSwitchDefault
            matTooltipPosition="right"
            matTooltip="Público"
            role="icon"
            aria-describedby="post-public"
            >public</mat-icon
          >
        </ng-container>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content (click)="details(happen)" role="content" aria-describedby="post" aria-details="post content">
      <div class="word-break" [innerHTML]="happen.whatHappen | codeText"></div>
    </mat-card-content>

    <mat-card-actions>
      <div class="container-scores">
        <div matTooltipPosition="above" matTooltip="Score Positivo">
          <button disabled class="btn-score-pos" mat-icon-button role="button" aria-describedby="arrow_upward">
            <mat-icon aria-label="arrow_upward">arrow_upward</mat-icon>
          </button>
          <small>{{ happen.feelings.scorePositive | percent : '1.2-2' }}</small>
        </div>
        <div matTooltipPosition="above" matTooltip="Score Negativo">
          <button disabled class="btn-score-neg" mat-icon-button role="button" aria-describedby="arrow_downward">
            <mat-icon aria-label="arrow_downward">arrow_downward</mat-icon>
          </button>
          <small>{{ happen.feelings.scoreNegative | percent : '1.2-2' }}</small>
        </div>
      </div>
      <div class="container-likes">
        <div matTooltipPosition="above" matTooltip="comentários">
          <button
            class="btn-like-comments"
            (click)="comments(happen)"
            mat-icon-button
            role="button"
            aria-describedby="comments">
            <mat-icon>comment</mat-icon>
          </button>
          <small>{{ happen.commentsCounter | follows }}</small>
        </div>
        <div matTooltipPosition="above" matTooltip="Cutir">
          <button
            class="btn-like-up"
            (click)="liked(happen.likes.isLiked, happen)"
            mat-icon-button
            role="button"
            aria-describedby="favorite">
            <mat-icon *ngIf="!happen.likes.isLiked" aria-label="favorite">favorite_outline</mat-icon>
            <mat-icon *ngIf="happen.likes.isLiked" aria-label="favorite">favorite</mat-icon>
          </button>
          <small>{{ happen.likes.likedCount | follows }}</small>
        </div>
        <div matTooltipPosition="above" matTooltip="Não curtir">
          <button
            class="btn-like-down"
            (click)="disliked(happen.likes.isDisliked, happen)"
            mat-icon-button
            role="button"
            aria-describedby="not-favorite">
            <span
              class="thumb-down"
              *ngIf="!happen.likes.isDisliked"
              aria-label="not-favorite"
              class="material-symbols-outlined">
              thumb_down
            </span>
            <mat-icon *ngIf="happen.likes.isDisliked" aria-label="not-favorite" class="material-symbols-outlined">
              thumb_down
            </mat-icon>
          </button>
          <small>{{ happen.likes.dislikedCount | follows }}</small>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</main>
