@import '../../../../themes/mixins';

.toolbar-row {
  min-height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 10rem;
  .logo {
    margin-right: 1rem;
    .nickaname {
      cursor: pointer;
      text-decoration: underline;
      padding: 2px 8px;
      border-radius: 0.5rem;
      font-style: italic;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}
@media screen and (max-width: 768px) {
  app-input-search {
    display: none;
  }
  .toolbar-row {
    padding: 0 1rem;
    .logo {
      margin-right: 1rem;
    }
    button {
      background-color: var(--white);
      min-width: 120px;
    }
  }
}
