<main [ngClass]="theme$ | async" class="main-toolbar">
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-row">
      <div class="logo">
        <span>Diário</span>
        <ng-container>
          @if (id) {
          <span>/</span>
          <small routerLink="/profile/user" class="nickaname">{{ name$ | async }}</small>
          }
        </ng-container>
      </div>
      <span class="spacer"></span>
      <div class="container-buttons">
        <app-button-menu *ngIf="id"></app-button-menu>
        <button
          class="btn-menu"
          routerLink="/auth/login"
          role="button"
          aria-describedby="signin"
          mat-raised-button
          *ngIf="!id">
          entrar
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</main>
