<main [ngClass]="theme$ | async" class="main-toolbar">
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-row">
      @if (id) {
      <app-button-back></app-button-back>
      }
      <div class="logo">
        <span role="link" matTooltip="Diário" [routerLink]="routePathEnum.routePublicArea">Diário</span>
        <ng-container>
          @if (id) {
          <small role="link" [matTooltip]="name$ | async" [routerLink]="routePathEnum.routeProUser" class="nickaname">
            {{ name$ | async }}
          </small>
          }
        </ng-container>
      </div>
      <span class="spacer"></span>
      <div class="container-buttons">
        @if (id) {
        <app-button-menu (onLogout)="onLogout()"></app-button-menu>
        } @else {
        <button
          class="btn-menu"
          [routerLink]="routePathEnum.routeLogin"
          role="button"
          aria-describedby="signin"
          mat-raised-button>
          Entrar
        </button>
        }
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</main>
