@import '../../../../themes/mixins';

.main-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  mat-toolbar {
    @include size-container;
  }
  .toolbar-row {
    min-height: 80px;
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
    .logo {
      margin-right: 1rem;
      span {
        cursor: pointer;
      }
      .nickaname {
        cursor: pointer;
        text-decoration: underline;
        padding: 2px 8px;
        border-radius: 0.5rem;
        font-style: italic;
      }
    }
  }
  .spacer {
    flex: 1 1 auto;
  }
  // change color icon from button
  .container-buttons .btn-menu {
    @include btn-default;
    border: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .toolbar-row {
    .logo {
      margin-right: 1rem;
    }
    button {
      background-color: var(--white);
      min-width: 120px;
    }
  }
}
