<ng-container *ngIf="userProfile$ | async as user; else loading">
  <div class="user-details">
    <div class="body">
      <div role="div" aria-describedby="infos" class="infos">
        <p aria-label="name">
          <span matTooltipPosition="left" matTooltip="Nome">{{ user.name }}</span>
        </p>
        <p aria-label="email">
          <span matTooltip="Email" matTooltipPosition="left">{{ user.email }}</span>
        </p>
      </div>
      <div matTooltip="Score de sentimentos" matTooltipPosition="left" class="title">
        <p>Score</p>
        <span>score de sentimentos</span>
      </div>
      <div class="scores">
        <div class="right">
          <div
            matTooltip="Score Positivo"
            matTooltipPosition="above"
            aria-label="score-positive"
            role="div"
            aria-describedby="score-positive"
            class="score-positive">
            <p aria-label="score-positive">
              {{ user.profile.totalScorePositive | number : '1.2-2' }}
            </p>
            <p>score pos.</p>
          </div>
          <div
            matTooltip="Score Negativo"
            matTooltipPosition="above"
            role="div"
            aria-describedby="score-negative"
            class="score-negative">
            <p aria-label="score-negative">{{ user.profile.totalScoreNegative | number : '1.2-2' }}</p>
            <p>socre neg.</p>
          </div>
        </div>

        <div class="left">
          <div matTooltip="Média" matTooltipPosition="above" role="div" aria-describedby="mean" class="mean">
            <p aria-label="mean">{{ user.profile.meanFeeling | number : '1.2-2' }}</p>
            <p>média</p>
          </div>
          <div matTooltip="Desvio Padrão" matTooltipPosition="above" role="div" aria-describedby="std" class="std">
            <p aria-label="std">{{ user.profile.stdFeeling | number : '1.2-2' }}</p>
            <p>des. padrão</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="user-details">
    <div class="infos loading-waves">
      <p style="min-height: 2rem"></p>
      <p style="min-height: 2rem"></p>
    </div>
    <div class="scores">
      <div class="right">
        <div class="score-positive loading-waves">
          <p>0</p>
          <p>score pos.</p>
        </div>
        <div class="score-negative loading-waves">
          <p>0</p>
          <p>socre neg.</p>
        </div>
      </div>
      <div class="left">
        <div class="mean loading-waves">
          <p>0</p>
          <p>média</p>
        </div>
        <div class="std loading-waves">
          <p>0</p>
          <p>des. padrão</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
