<main class="card-feeling">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span matTooltipPosition="left" matTooltip="Apelido" role="none" aria-describedby="name">{{
          (userName$ | async)?.name
        }}</span>
        <button
          matTooltip="Menu"
          [matMenuTriggerFor]="menus"
          matTooltipPosition="right"
          matTooltip="Menu"
          mat-icon-button
          role="button"
          aria-describedby="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menus="matMenu" overlapTrigger="true">
          <button (click)="remove(happen)" matTooltipPosition="right" mat-menu-item matTooltip="Remover">
            <mat-icon>remove</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        <span
          matTooltipPosition="left"
          style="cursor: pointer"
          routerLink="/profile/user"
          matTooltip="Nome de domínio"
          role="link"
          aria-describedby="nameId"
          >{{ happen.nameId }}</span
        >
        <span>|</span>
        <span matTooltipPosition="above" matTooltip="Data" role="timer" aria-describedby="date">{{
          happen.createdAt | date
        }}</span>
        <ng-container [ngSwitch]="happen.visibility">
          <mat-icon
            *ngSwitchCase="status.PRIVATE"
            matTooltipPosition="right"
            matTooltip="Somente você pode visualizar"
            role="icon"
            aria-describedby="post-private"
            >lock</mat-icon
          >
          <mat-icon
            *ngSwitchCase="status.FOLLWERS"
            matTooltipPosition="right"
            matTooltip="Seguidores podem visualizar"
            role="icon"
            aria-describedby="post-followers"
            >person</mat-icon
          >
          <mat-icon
            *ngSwitchDefault
            matTooltipPosition="right"
            matTooltip="Público - todos podem visualizar"
            role="icon"
            aria-describedby="post-public"
            >public</mat-icon
          >
        </ng-container>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content role="doc-epigraph" aria-describedby="post" aria-details="post content">
      <p>{{ happen.whatHappen }}</p>
    </mat-card-content>

    <mat-card-actions>
      <div>
        <small>{{ happen.likes.likedCount | follows }}</small>
        <button matTooltipPosition="above" matTooltip="Cutir" mat-icon-button role="button" aria-describedby="favorite">
          <ng-container *ngIf="userName$ | async as data">
            <mat-icon *ngIf="data.id !== happen.userId" aria-label="favorite">favorite_outline</mat-icon>
            <mat-icon *ngIf="data.id === happen.userId" aria-label="favorite">favorite</mat-icon>
          </ng-container>
        </button>
      </div>
      <div>
        <small>{{ happen.likes.dislikedCount | follows }}</small>
        <button
          matTooltipPosition="above"
          matTooltip="Não curtir"
          mat-icon-button
          role="button"
          aria-describedby="not-favorite">
          <span aria-label="not-favorite" class="material-symbols-outlined"> thumb_down </span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</main>
