// card feeling - post of users
.card-feeling {
  // mat-card material

  .mdc-card {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  // mat-card action of material
  .mdc-card__actions {
    justify-content: space-between;
  }

  .container-scores,
  .container-likes {
    flex: 1;
    display: flex;
  }

  .container-likes {
    justify-content: flex-end;
  }

  // subtitle
  .mat-mdc-card-subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    min-height: 1rem;
  }

  // mat-card content of material
  .mat-mdc-card-content {
    min-height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  // content of post
  .mat-mdc-card-content p {
    font-size: 1.2rem;
    font-weight: 100;
    text-indent: 2rem;
  }

  // counter of likes
  mat-card-actions small {
    display: inline-block;
    padding-right: 0.5rem;
  }

  // flex layout to header text card material
  ::ng-deep .mdc-card .mat-mdc-card-header .mat-mdc-card-header-text {
    flex: 1 !important;
  }

  // title
  .mat-mdc-card-title {
    display: flex;
    justify-content: space-between;
  }

  // subtitle span inside subtitle
  .mat-mdc-card-subtitle span {
    margin-bottom: -3px;
  }

  // content
  .mat-mdc-card-content {
    margin-top: 1rem;
  }

  // subtitle
  .mat-mdc-card-subtitle {
    margin-top: -1.2rem;
  }

  // icon subtitle
  .mat-mdc-card-subtitle mat-icon {
    display: flex;
    align-items: center;
  }

  // customize material icon
  .mat-mdc-card-subtitle .material-icons {
    font-size: 1rem;
  }

  // customize material outline icon empty
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  // customize material outline icon fill
  .material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
