.card-feeling {
  .mdc-card {
    margin: 0 0 1rem;
    padding: 0;
  }
  .mdc-card__actions {
    justify-content: flex-end;
  }
  .mat-mdc-card-subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    min-height: 1rem;
  }

  mat-card-actions small {
    display: inline-block;
    padding-right: 0.5rem;
  }

  ::ng-deep .mdc-card .mat-mdc-card-header .mat-mdc-card-header-text {
    flex: 1 !important;
  }

  .mat-mdc-card-title {
    display: flex;
    justify-content: space-between;
  }

  .mat-mdc-card-subtitle span {
    margin-bottom: -3px;
  }
  .mat-mdc-card-content {
    margin-top: 1rem;
  }

  .mat-mdc-card-subtitle mat-icon {
    display: flex;
    align-items: center;
  }

  .mat-mdc-card-subtitle .material-icons {
    font-size: 1rem;
  }
}
