.card-explore {
  width: 100%;


  .div-main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 1rem;
  }

  .mdc-card {
    margin: 0 0 1rem;
    padding: 0;
  }
  .mdc-card__actions {
    justify-content: flex-end;
  }
  .mat-mdc-card-subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    min-height: 1rem;
  }

  mat-card-actions small {
    display: inline-block;
    padding-right: 0.5rem;
  }

  ::ng-deep .mdc-card .mat-mdc-card-header .mat-mdc-card-header-text {
    flex: 1 !important;
  }

  .mat-mdc-card-title {
    display: flex;
    justify-content: space-between;
  }

  .mat-mdc-card-subtitle span {
    margin-bottom: -3px;
  }
  .mat-mdc-card-content {
    margin-top: 1rem;
  }

  .mat-mdc-card-subtitle mat-icon {
    display: flex;
    align-items: center;
  }

  .mat-mdc-card-subtitle .material-icons {
    font-size: 1rem;
  }

  .user-details {
    font-weight: 100;

    .infos p:first-child {
      font-weight: 700;
      font-size: 1rem;
    }

    .infos {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.5rem;
      margin: 0;
    }
    .scores {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      min-height: 5rem;
      align-items: center;
    }
    .score-positive {
      color: var(--green);
    }
    .score-negative {
      color: var(--primary);
    }

    .scores div {
      flex: 1;
      text-align: center;

      p:first-child {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .div-main {
      width: 100%;
    }
    .user-details {
      font-weight: 100;
      margin-top: -3rem;

      .scores {
        display: flex;
        flex-wrap: wrap;
        min-height: 5rem;
        align-items: center;
      }

      .scores div {
        flex: 1;
        text-align: center;

        p {
          line-height: 1.5rem;
          margin: 0;
        }
        p:first-child {
          font-size: 1.5rem;
        }
      }
    }
  }
}
