<main class="card-explore">
  <div class="div-main">
    <mat-card>
      <mat-card-header>
        <div [queryParams]="{ name: profile.nameId }" routerLink="/public" mat-card-avatar class="example-header-image">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" class="w-[64px] rounded-full" />
        </div>
        <mat-card-title>
          <div>
            <span role="none" aria-describedby="name">{{ profile.name }}</span>
            <p class="container-details">
              <span style="cursor: pointer" [queryParams]="{ name: profile.nameId }" routerLink="/public"
                >{{ profile.nameId }}
              </span>
              <span class="public">
                {{ profile.createdAt | date }}

                <mat-icon
                  *ngIf="profile.profilePublic"
                  class="text-sm"
                  matTooltipPosition="right"
                  matTooltip="Público - todos podem visualizar"
                  role="icon"
                  aria-describedby="post-public"
                  >public</mat-icon
                >
                <mat-icon
                  *ngIf="!profile.profilePublic"
                  class="text-sm"
                  matTooltipPosition="right"
                  matTooltip="Privado"
                  role="icon"
                  aria-describedby="post-public"
                  >lock</mat-icon
                >
              </span>
            </p>
          </div>
          <div>
            <ng-container *ngIf="(userId$ | async) !== profile.id">
              <button *ngIf="profile.isFollowing" (click)="unFollow(profile)" mat-button class="ml-2">
                <span class="btn-follow">Deixar</span>
                <mat-icon>remove</mat-icon>
              </button>

              <button *ngIf="!profile.isFollowing" (click)="follow(profile)" mat-button class="ml-2">
                <span class="btn-follow">Seguir</span>
                <mat-icon>add</mat-icon>
              </button>
            </ng-container>
          </div>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</main>
