<main class="card-explore">
  <div class="div-main">
    <mat-card>
      <mat-card-header>
        <div
          class="avatar"
          *ngIf="profile"
          matTooltipPosition="left"
          [matTooltip]="profile.name || ''"
          [queryParams]="{ name: profile.nameId }"
          routerLink="/public/details">
          <img width="64" height="64" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" />
        </div>
        <mat-card-title>
          <div>
            <span matTooltipPosition="above" [matTooltip]="profile.name || ''" role="none" aria-describedby="name">{{
              profile.name
            }}</span>
            <p class="container-details">
              <span
                matTooltipPosition="below"
                [matTooltip]="profile.nameId || ''"
                style="cursor: pointer"
                [queryParams]="{ name: profile.nameId }"
                routerLink="/public/details"
                >{{ profile.nameId }}
              </span>
              <span class="public">
                <span matTooltipPosition="above" [matTooltip]="(profile.createdAt | date) || ''">{{
                  profile.createdAt | date
                }}</span>
                <mat-icon
                  *ngIf="profile.profilePublic"
                  class="text-sm"
                  matTooltipPosition="right"
                  matTooltip="Público"
                  role="icon"
                  aria-describedby="post-public"
                  >public</mat-icon
                >
                <mat-icon
                  *ngIf="!profile.profilePublic"
                  class="text-sm"
                  matTooltipPosition="right"
                  matTooltip="Privado"
                  role="icon"
                  aria-describedby="post-public"
                  >lock</mat-icon
                >
              </span>
            </p>
          </div>
          <app-button-follower
            style="display: flex; justify-content: center; align-items: center"
            (onLogin)="requestLoginToFollow()"
            (socketio)="onFollow($event)"
            [profile]="profile"
            [id]="userId$ | async"></app-button-follower>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</main>
