<div class="reset-password flex flex-col items-center justify-center">
  <div class="w-full max-w-md container">
    <app-message></app-message>
    <header class="header">
      <app-button-back></app-button-back>
      <div class="container-title">
        <p class="title">Recupere seu acesso (e-mail cadastrado)</p>
      </div>
    </header>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-y-5">
        <app-input-email
          (initForm)="onFireEvent(fieldNames.email, $event)"
          (trigger)="onFireEvent(fieldNames.email, $event)"></app-input-email>
        <app-button-submit [form]="form" [name]="'Enviar'"></app-button-submit>
      </div>
    </form>
  </div>
</div>
