<main class="dialog-happen-comments" *ngIf="happen$ | async as data">
  <header class="dialog-header">
    <div class="btn-close">
      <button tabindex="-1" [mat-dialog-close]="false" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="header">
      <div class="title">
        <span class="nickname">{{ data.nickname }}</span>
        <span class="domain-name">{{ data.nameId }} {{ data.updatedAt | date }}</span>
      </div>
      <div class="subtitle">Comentários!</div>
    </div>
  </header>
  <app-comment
    (onDelete)="onDelete($event)"
    (onComment)="onComment($event)"
    [id]="userId$ | async"
    [comment]="data"></app-comment>

  <ng-container *ngIf="comments$ | async as data">
    @for(item of data.comments; track $index) {
    <app-comment
      (onDelete)="onDelete($event)"
      (onComment)="onComment($event)"
      [id]="userId$ | async"
      [comment]="item"></app-comment>
    }
  </ng-container>

  <form class="input" (ngSubmit)="addComment(data)">
    <mat-form-field class="field">
      <input required [formControl]="form" [tabindex]="0" placeholder="Digite aqui" matInput type="text" />
      <button (click)="addComment(data)" [disabled]="form.invalid" matSuffix mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </form>
</main>
