<div [ngClass]="theme$ | async" class="home">
  <app-cover></app-cover>

  <mat-tab-group (selectedTabChange)="onTabChange($event)" class="w-full" selectedIndex="1" disablePagination="">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex items-center">
          <span class="page text-sm">Explorar</span>
          <mat-icon class="text-xl ml-1 mb-1">explore</mat-icon>
        </div>
      </ng-template>
      <div>
        <app-input-search></app-input-search>
        <p>Novos feelingers</p>
        <app-initial-explore
          [id]="userId$ | async"
          *ngFor="let profile of userPageble$ | async"
          (socketio)="onSocketio($event)"
          [profile]="profile"></app-initial-explore>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex items-center">
          <span class="text-sm">Principal</span>
          <mat-icon class="text-xl ml-1 mb-1">home</mat-icon>
        </div>
      </ng-template>
      <app-timeline></app-timeline>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex items-center">
          <span class="text-sm">Sentimentos</span>
          <mat-icon class="text-xl ml-1 mb-1">sentiment_satisfied</mat-icon>
        </div>
      </ng-template>
      <app-feelingers></app-feelingers>
    </mat-tab>
  </mat-tab-group>
</div>
