<div [ngClass]="theme$ | async" class="home">
  <!-- <app-cover></app-cover> -->

  <mat-tab-group (selectedTabChange)="onTabChange($event)" class="w-full" selectedIndex="1" disablePagination="">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex items-center">
          <span class="page text-sm">Explorar</span>
          <mat-icon class="text-xl ml-1 mb-1">explore</mat-icon>
        </div>
      </ng-template>
      <div>
        <app-explore></app-explore>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex items-center">
          <span class="text-sm">Principal</span>
          <mat-icon class="text-xl ml-1 mb-1">home</mat-icon>
        </div>
      </ng-template>
      <app-timeline></app-timeline>
    </mat-tab>

    <!-- NOVO RECURSO DE FEELINGERS SERÁ DISPONIBILIZADO NA VERSÃO 2 -->
    <!-- 
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="flex items-center">
          <span class="text-sm">Sentimentos</span>
          <mat-icon class="text-xl ml-1 mb-1">sentiment_satisfied</mat-icon>
        </div>
      </ng-template>
      <app-feelingers></app-feelingers>
    </mat-tab> -->
  </mat-tab-group>
</div>
