<main class="settings">
  <div class="container">
    <mat-card routerLink="/profile/settings/account">
      <mat-card-header>
        <mat-icon mat-card-avatar>home</mat-icon>
        <mat-card-title>Geral</mat-card-title>
        <mat-card-subtitle>Gerais sobre sua conta</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card routerLink="/profile/settings/security">
      <mat-card-header>
        <mat-icon mat-card-avatar>security</mat-icon>
        <mat-card-title>Segurança</mat-card-title>
        <mat-card-subtitle>Sobre senha/aparelhos/celuar</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card routerLink="/profile/settings/security">
      <mat-card-header>
        <mat-icon mat-card-avatar>lock</mat-icon>
        <mat-card-title>Privacidade</mat-card-title>
        <mat-card-subtitle>Sobre senha/aparelhos/celuar</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</main>
