@import '../../../../../themes/mixins';

.settings {
  margin-top: 10rem;
  .container {
    @include size-page;
    ::ng-deep .mat-card-header {
      flex-direction: row-reverse !important;
    }

    mat-card {
      cursor: pointer;
      position: relative;
      background-color: transparent;
      box-shadow: none;
      border: none;
      &:hover {
        background: var(--color-white-brightness);
      }
    }
    mat-icon.floating {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
  }
}
