@import '../../../../../themes/mixins';

.menu-settings {
  margin-top: 10rem;
  .container {
    @include size-page;
    ::ng-deep .mat-card-header {
      flex-direction: row-reverse !important;
    }
    mat-card {
      cursor: pointer;
      position: relative;
      box-shadow: none;
    }
    mat-card-title,
    mat-card-subtitle {
      font-weight: 300;
      font-family: inherit;
    }

    mat-icon.floating {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
  }
}
