.btn-fab-create {
  position: fixed;
  bottom: 4rem;
  right: 12rem;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .btn-fab-create {
    bottom: 5rem;
    right: 2rem;
    z-index: 1;
  }
}
