// set styel button icon
@mixin btn-icon-radio {
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: inherit;
  color: var(--color-dark-red-medium) !important;
  :focus {
    background: var(--color-dark-red-light);
  }
}

// set size page default
@mixin size-page {
  width: inherit;
  max-width: 920px;
  margin: auto;
}

@mixin mt {
  margin-top: 5rem;
}
