// set styel button icon
@mixin btn-icon-radio {
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// set size page default
@mixin size-page {
  width: inherit;
  max-width: 1024px;
  margin: auto;
}
