<div class="flex flex-col items-center justify-center h-screen">
  <div class="py-3 px-5 w-full max-w-md">
    <ng-container *ngIf="message$ | async as resp">
      <app-message
        *ngIf="!resp.error && !!resp.data"
        [visible]="true"
        [message]="resp.message"
        type="success"></app-message>
      <app-message
        *ngIf="resp.error && !resp.data"
        [visible]="true"
        [message]="resp.message"
        type="error"></app-message>
    </ng-container>

    <h1 class="text-center mb-5">Cadastre sua conta</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="px-5 flex flex-col gap-y-5">
        <app-input-name-id (trigger)="onFireEvent(fieldNames.nameId, $event)"></app-input-name-id>
        <app-input-nickname (trigger)="onFireEvent(fieldNames.nickname, $event)"></app-input-nickname>
        <app-input-email (trigger)="onFireEvent(fieldNames.email, $event)"></app-input-email>
        <app-input-password (trigger)="onFireEvent(fieldNames.password, $event)"></app-input-password>
        <app-input-confirm-password
          [password]="form.get(fieldNames.password)"
          (trigger)="onFireEvent(fieldNames.confirmPassword, $event)">
        </app-input-confirm-password>

        <mat-checkbox color="primary" [formControlName]="fieldNames.checkTerms">
          Ao registrar se está aceitando os nosso
          <a routerLink="/auth/terms-conditions" class="underline text-primary">Termos e Condições</a> do aplicativo
          <a routerLink="/auth/privacy-policy" class="underline text-primary">Politica de Privacidade</a>.
        </mat-checkbox>

        <div>
          <app-button-submit [form]="form" [name]="'Registrar-se'"></app-button-submit>
        </div>
        <div class="flex gap-2">
          Já tem uma conta?<a routerLink="/auth/login" class="underline text-blue-500">Realizar login</a>
        </div>
      </div>
    </form>
  </div>
</div>
