<div class="register flex flex-col items-center justify-center">
  <div class="w-full max-w-md container">
    <app-message></app-message>
    <header class="header">
      <app-button-back></app-button-back>
      <div class="container-title">
        <p class="title">Cadastre sua conta</p>
      </div>
    </header>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-y-5">
        <app-input-name-id (trigger)="onFireEvent(fieldNames.nameId, $event)"></app-input-name-id>
        <app-input-nickname (trigger)="onFireEvent(fieldNames.nickname, $event)"></app-input-nickname>
        <app-input-email (trigger)="onFireEvent(fieldNames.email, $event)"></app-input-email>
        <app-input-password (trigger)="onFireEvent(fieldNames.password, $event)"></app-input-password>
        <app-input-confirm-password
          [password]="form.get(fieldNames.password)"
          (trigger)="onFireEvent(fieldNames.confirmPassword, $event)">
        </app-input-confirm-password>
        <mat-checkbox role="checkbox" color="primary" [formControlName]="fieldNames.checkTerms">
          Ao registrar se está aceitando os nosso
          <a role="link" routerLink="/auth/terms-conditions" class="underline text-primary"> Termos e Condições </a> do
          aplicativo
          <a role="link" routerLink="/auth/privacy-policy" class="underline text-primary">Politica de Privacidade</a>.
        </mat-checkbox>
        <app-button-submit [form]="form" [name]="'Registrar-se'"></app-button-submit>
        <div class="flex gap-2">
          Já tem uma conta?<a routerLink="/auth/login" class="underline text-blue-500">Realizar login</a>
        </div>
      </div>
    </form>
  </div>
</div>
