// container cover
.container-cover {
  width: 100%;
  display: flex;
  height: 20rem;
  transform: translateY(-40%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  .cover {
    flex: 1;
    // background: linear-gradient(90deg, rgb(9, 0, 36) 0%, rgb(9, 9, 121) 100%, rgb(40, 70, 170) 130%);
    // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(61, 61, 159, 1) 79%);
  }
}
