@import '../mixins';

// theme of page profile light
.profile {
  width: 100%;
  position: relative;
  color: var(--color-dark-default);

  // show profile public in details
  .user-details {
    background-color: var(--white);
  }

  // customize card profil public app-initial
  .card-explore .div-main button {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 1rem;
    color: var(--color-dark-red-medium);
  }

  // customize card profil public app-initial change color button private
  .card-explore .div-main .container-buttons button.btn-private {
    color: var(--black);
    background-color: var(--color-yellow-light);
  }

  // customize background toolbar theme profile
  mat-toolbar {
    background-color: transparent;
  }

  // mat card
  .mdc-card {
    background-color: var(--white);
  }

  // customize color mat card subititle
  .mat-mdc-card-subtitle {
    color: var(--gray);
  }

  // profile private and public container fo followers
  .container-followers p {
    color: var(--white);
  }

  // profile private and public container fo followers button
  .container-followers button {
    background-color: var(--white);
    color: var(--primary) !important;
  }

  // customize container photo profile public and private
  .page .container-photo .img {
    background-color: var(--white);
  }

  // button back
  .btn-back {
    // change color icon from btn back
    mat-icon {
      color: var(--white);
    }
  }

  // button menu
  .btn-menu {
    // change color icon from button
    mat-icon {
      color: var(--primary);
    }
  }

  // customize mat card theme profile
  .mat-mdc-card-title {
    p {
      color: var(--color-light-soft);
    }
  }

  // remove filled background search input
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(255, 255, 255, 0.9);
  }

  // input search remove underline coloer
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: transparent;
  }

  // profile private and public container fo followers
  .page .container-pup .text {
    color: var(--text-middle-light);
  }

  // customize text inside input field search
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--color-dark-red-medium);
    caret-color: var(--color-dark-red-medium);
  }

  // customize border radius input search
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: 2rem;
  }

  // customize action dialog button color when ask
  ::ng-deep mat-dialog-actions {
    button {
      color: var(--primary);
    }
  }
}

// media queries max width 768px - mobile first
@media screen and (max-width: 768px) {
  .profile {
    .card-explore .div-main button {
      background-color: transparent;
    }
    .page {
      .container-photo {
        .container-followers p {
          color: var(--color-medium-white);
        }
        .container-followers button {
          color: var(--primary);
          background-color: var(--white);
        }
        .img {
          background-color: var(--color-medium-white);
        }
        .border-top-radious {
          background-color: var(--white);
        }
      }
      .follow {
        background-color: transparent;
      }
    }
  }
}
