@import '../mixins';

// theme of page profile light
.public {
  width: 100%;
  position: relative;
  color: var(--color-dark-default);

  // show profile public in details card profile user
  .user-details {
    background: var(--white);
    box-shadow: none;
    border: 1px solid var(--border-default);
    .body {
      background-color: transparent;
    }
    .infos,
    .scores {
      background-color: transparent;
    }
  }
  .banner p.title {
    color: var(--gray);
  }
  .daily {
    color: var(--success);
  }
  // card feeling theme profile
  .card-feeling {
    border: 1px solid var(--border-default);
    .mat-mdc-card-content {
      background-color: var(--color-white-light);
    }
    // button score negative on card feeling
    .container-scores div button.btn-score-neg {
      color: var(--primary);
    }
    .container-scores div button.btn-score-pos {
      color: var(--green);
    }
  }

  // customize card profil public app-initial
  .card-explore .div-main button {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 1rem;
    color: var(--color-dark-red-medium);
  }

  // customize card profil public app-initial change color button private
  .card-explore .div-main .container-buttons button.btn-private {
    color: var(--black);
    background-color: var(--warning);
  }

  // customize card profil public app-initial change color button request
  .card-explore .div-main .container-buttons button.btn-request {
    color: var(--black);
    background-color: var(--color-green-light);
  }

  // customize buttom color default theme profile
  .container-buttons button {
    background-color: var(--white);
  }

  // customize button private public profile
  .container-buttons button.btn-private {
    background-color: var(--warning);
  }
  // customize button private public request
  .container-buttons button.btn-request {
    background-color: var(--success);
  }

  // customize background toolbar theme profile
  mat-toolbar {
    background-color: var(--white);
  }

  // mat card
  .mdc-card {
    background-color: var(--white);
    box-shadow: none;
  }

  // customize color mat card subititle
  .mat-mdc-card-subtitle {
    color: var(--gray);
  }

  // profile private and public container fo followers
  .container-followers p {
    border-left: 1px solid var(--border-default);
    border-right: 1px solid var(--border-default);
  }

  .container-followers p:first-child {
    border-top: 1px solid var(--border-default);
  }
  .container-followers p:last-child {
    border-bottom: 1px solid var(--border-default);
  }
  // profile private and public container fo followers button
  .container-followers button {
    background-color: var(--white);
    color: var(--primary) !important;
  }

  // customize container photo profile public and private
  .page .container-photo .img {
    background-color: var(--white);
  }

  // button back
  .btn-back {
    // change color icon from btn back
    mat-icon {
      color: var(--white);
    }
  }

  // button menu toolbar
  .container-buttons .btn-menu {
    @include btn-default;
    // change color icon from button
    border: none;
    box-shadow: none;
    background-color: var(--warning);
  }

  // customize mat card theme profile
  .mat-mdc-card-title {
    p {
      color: var(--color-light-soft);
    }
  }

  // remove filled background search input
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
    border: 1px solid var(--border-default);
    border-radius: 2rem;
  }

  // input search remove underline color
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: transparent;
  }

  // profile private and public container fo followers
  .page .container-pup .text {
    color: var(--text-middle-light);
  }

  // customize text inside input field search
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--color-dark-red-medium);
    caret-color: var(--color-dark-red-medium);
  }

  // input happen texteare
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
  .mat-form-field.no-underline .mat-form-field-underline {
    display: none;
  }
  .mdc-line-ripple::before {
    border-bottom-width: 0;
  }

  // color text logo before input search
  .logo span {
    color: var(--color-dark-default);
  }

  // spinner box centralize content
  .spinner {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  // customize spinner to theme profile
  .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--primary) !important;
  }

  // input-photo - customize
  .input-photo {
    .image {
      background: rgb(255, 255, 255, 0.09);
      border: 1px solid var(--border-default);
      .img {
        background: var(--white);
      }
    }
  }

  // app-followers
  .follow {
    background: transparent;
    div {
      background: transparent;
    }
    p {
      background: rgb(255, 255, 255, 0.1);
      color: #333;
      font-weight: 100;
    }
  }

  // dialog happen create
  .dialog-happen .btn-save {
    color: red;
  }
}

// media queries max width 768px - mobile first
@media screen and (max-width: 768px) {
  .profile {
    .card-explore .div-main button {
      background-color: transparent;
    }
    // input-photo - customize
    .input-photo {
      .image {
        border: none;
      }
    }
    .page {
      .container-photo {
        .container-followers p {
          color: var(--color-dark-default);
        }
        .container-followers button {
          color: var(--primary);
          background-color: var(--white);
        }
        .img {
          background-color: var(--color-medium-white);
        }
        .border-top-radious {
          background-color: var(--white);
        }
      }
      .follow {
        background-color: transparent;
        .follwing {
          border: none;
        }
      }
    }
  }
}
