@import '../mixins';

.settings {
  mat-toolbar {
    background-color: var(--dark);
  }

  // button back
  .btn-back {
    // change color icon from btn back
    mat-icon {
      color: var(--primary);
    }
  }

  // button menu
  .btn-menu {
    // change color icon from button
    mat-icon {
      color: var(--primary);
    }
  }
}
