@import '../mixins';

.settings {
  mat-toolbar {
    background-color: var(--dark);
  }
  // button back page settins
  .btn-back {
    // change color icon from btn back
    mat-icon {
      color: var(--white);
    }
  }
  // logo nickaneme on toolbar
  .logo span {
    color: var(--social-muted);
  }
  .logo .nickaname {
    background-color: var(--social-muted);
    color: var(--color-dark);
  }
  // button menu toolbar page settings
  .container-buttons .btn-menu {
    border: none;
    box-shadow: none;
    background-color: var(--social-muted);
    color: var(--color-dark);
  }
}
