<footer>
  <div class="container-footer">
    <div class="row">
      <div class="col-1">
        <div class="text">
          <span>contato: suporte&#64;innovatenet.com.br</span>
          <span>web: diario.innovatenet.com.br/support</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="info">
        <span>&copy; {{ getYear }} InnovateNet, Todos os direitos reservados</span>
        <a role="link" [routerLink]="routePathsEnum.routeTerms"><span>Termos e Condições</span></a>
        <a role="link" [routerLink]="routePathsEnum.routePolicy"><span>Política de Privacidade</span></a>
      </div>
    </div>
  </div>
</footer>
