@import '../../../../themes/mixins';

.main-settings {
  margin-top: 10rem;
  .container {
    @include size-page;
  }
  .row {
    display: flex;
    gap: 1rem;
  }
  .menu,
  .page {
    flex: 1;
  }
  .menu {
    flex: 0.5;
  }
}
