.dialog-happen {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  position: relative;

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  mat-dialog-content {
    padding: 0;
    * {
      word-break: break-all;
    }
  }
  .container-options {
    * {
      flex: 1;
    }
    small {
      text-align: end;
    }
  }
  .container-options,
  mat-dialog-actions,
  p.title {
    display: flex;
    justify-content: space-between;
  }

  mat-dialog-actions {
    align-items: center;
    button {
      flex: 1;
    }
  }

  .input-happen {
    width: 100%;
    height: 70%;
  }

  p.title {
    flex-direction: column;
    span {
      font-size: 1.5rem;
    }
  }
}