.dialog-happen {
  display: flex;
  flex-direction: column;
  height: 100%;

  .container-options,
  mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  mat-dialog-actions {
    justify-content: flex-end;

    button {
      min-width: 120px;
    }
  }
  .input-happen {
    width: 100%;
    height: 90%;
  }
}
