.dialog-happen {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;

    button {
      min-width: 120px;
    }
  }

  .input-happen {
    width: 100%;
  }
}
