<h1>APLICATIVO DIARIO'S TERMOS E CONDIÇÕES DE USO</h1>
<p>
  Estes "Termos e Condições de Uso" ("Termos") representam o contrato celebrado entre você (em qualquer caso "você" ou
  "Usuário", sem distinção), e a
  <strong>ROBERTO ROSA CONSULTORIA LTDA.</strong>, com sede na
  <strong> R. João Guimarães Rosa, nº 293, Jd. Bandeira, na Cidade de Osasco/SP, CEP 06.160-040</strong>, inscrita no
  CNPJ sob o <strong>nº 54.093.240/0001-42</strong>, e contém todos os direitos e obrigações relativos ao uso do
  Aplicativo Diário's ("Aplicativo").
</p>
<h2>DECLARAÇÕES DO USUÁRIO</h2>
<p>
  Ao se cadastrar e utilizar o Aplicativo, você declara que: Leu, compreendeu e concordou com todo o conteúdo destes
  Termos, comprometendo-se, de forma livre e espontânea, a cumprir todas as condições aqui previstas durante o uso do
  Aplicativo; Caso você tenha entre 13 (treze) anos completos e 18 (dezoito) anos incompletos, o Aplicativo não deve ser
  utilizado sem a devida representação ou assistência dos seus pais ou responsáveis legais, de acordo com a legislação
  vigente. Caso você possua menos de 13 (treze) anos completos, você não deve utilizar o Aplicativo; e, Inexiste
  qualquer impedimento para o seu cadastro e acesso ao Aplicativo, ou contrato, liame ou vínculo com terceiros, de
  qualquer natureza, que eventualmente o impeça de cumprir estes Termos.
</p>
<h2>O APLICATIVO</h2>
<p>
  O Aplicativo tem por finalidade permitir a você: Acessar conteúdo social, compartilhamento de sentimentos feitos por
  outros usuários, seguir, curtir, comentar e/ou compartilhar informações sociais de live e espontânea vontade,
  pesquisas de satisfação, power ups de redirecionamento, promoções, ofertas, descontos, conteúdos exclusivos, dentre
  outras atividades e informações relacionadas aos produtos e serviços da InnovateNet; Consultar informações sobre
  serviços/produtos; Acessar as informações e funcionalidades conforme pormenorizadamente descrito.
</p>
<h3>Requisitos de sistema e do dispositivo móvel:</h3>
<p>
  O Aplicativo pode ser instalado em qualquer dispositivo móvel que utilize os sistemas operacionais Android, de acordo
  com a versão indicada na página do Aplicativo disponível na Play Store. CADASTRO Para utilizar determinadas
  Funcionalidades do Aplicativo, você deverá realizar o seu cadastro, mediante a criação de uma conta, acessível por
  meio de um e-mail válido e senha, que você mesmo criará, respeitados os padrões indicados no ato do cadastro, além do
  fornecimento dos seguintes dados, que poderão variar conforme a forma de cadastro selecionada por você (via Facebook;
  Google ou outras formas disponibilizadas pela InnovateNet) e, posteriormente, das Funcionalidades utilizadas:
</p>
<ul>
  <li>Endereço de E-mail válido; (obrigatório)</li>
  <li>CPF (opcional);</li>
  <li>Celular (opcional);</li>
  <li>Data de nascimento Nome e sobrenome (opcional);</li>
  <li>Gênero (opcional);</li>
</ul>
<p>
  Caso você possua mais de um endereço, você poderá cadastrar os dados de todos estes endereços no Aplicativo, a fim de
  utilizar a Funcionalidade do Aplicativo. Somente será possível a realização de apenas 1 (um) cadastro por CPF. Para
  fins de utilização das Funcionalidades descritas nestes Termos, o Usuário deverá cadastrar um único e-mail que desejar
  utilizar para acessar todas as Funcionalidades. Você somente poderá realizar o cadastro no Aplicativo se tiver 18
  (dezoito) anos de idade ou mais ou se tiver entre 13 (treze) anos completos e 18 (dezoito) anos de idade e estiver
  representado ou assistido por seus pais ou responsáveis legais, bem como estiver de pleno acordo com todo o conteúdo
  destes Termos. Caso você não concorde com qualquer disposição contida nestes Termos,
  <strong>não efetue o cadastro no Aplicativo.</strong>
</p>
<p>
  Caso o Usuário deseje alterar o e-mail utilizado para acesso ao Aplicativo e cadastrado nas Funcionalidades, deverá
  contatar a InnovateNet por meio do canal
  <a href="https://innovatenet.com.br/contato/">https://innovatenet.com.br/contato/</a>
  ou pelo e-mail
  <a href="mailto:contato@innovatenet.com.br">contato&#64;innovatenet.com.br</a>. Nestes casos, a conta anterior do
  Usuário será excluída e será necessária a criação de uma nova conta. Você será exclusivamente responsável pela
  precisão e veracidade dos dados informados, e reconhece que a inconsistência destes poderá implicar na impossibilidade
  de conclusão do cadastro ou impossibilidade de acessar o Aplicativo, sem prejuízo das eventuais responsabilizações
  previstas em lei.
</p>
<p>
  Para fins de clareza, você também será exclusivamente responsável por atualizar os seus dados no Aplicativo, caso
  ocorra alguma alteração dos mesmos ou poderá contatar a InnovateNet por meio do canal
  <a href="https://innovatenet.com.br/contato/">https://innovatenet.com.br/contato/</a>
  ou pelo e-mail
  <a href="mailto:contato@innovatenet.com.br">contato&#64;innovatenet.com.br</a>. Poderá ser exigido do Usuário, a
  qualquer tempo, uma etapa adicional de validação dos dados cadastrais para fins conclusão do processo de cadastro e de
  acesso ao Aplicativo e suas Funcionalidades.
</p>
<p>
  <strong>
    CASO A InnovateNet IDENTIFIQUE QUALQUER IRREGULARIDADE NO SEU CADASTRO OU NA SUA CONTA, OU CASO VOCÊ NÃO CONFIRME AS
    INFORMAÇÕES DECLARADAS QUANDO SOLICITADO, O CADASTRO PODERÁ SER CANCELADO, SUSPENSO OU EXCLUÍDO, A EXCLUSIVO
    CRITÉRIO DA InnovateNet, SEM PREJUÍZO DA APURAÇÃO E COBRANÇA POR EVENTUAIS DANOS CAUSADOS E/OU OUTRAS MEDIDAS QUE A
    InnovateNet ENTENDER CABÍVEIS.
  </strong>
</p>
<p>
  Você será exclusivamente responsável pela guarda, sigilo e boa utilização dos dados de acesso à sua conta no
  Aplicativo. Todos os dados de acesso à sua conta no Aplicativo são de natureza pessoal e só podem ser usados por você,
  sendo expressamente proibido o compartilhamento de dados pessoais e/ou senha com quaisquer terceiros, isentando-se a
  InnovateNet de qualquer responsabilidade no tocante ao uso indevido (ex. compartilhamento) destes dados. Caso você
  esqueça a sua senha de acesso ao Aplicativo, poderá cadastrar uma nova senha, observado o procedimento de recuperação
  de senha informado no Aplicativo.
</p>
<p>
  Caso você suspeite que qualquer terceiro teve acesso à sua conta e/ou aos dados de acesso à sua conta no Aplicativo,
  você deverá alterar sua senha e comunicar a InnovateNet imediatamente. Em qualquer caso, as operações realizadas antes
  da referida comunicação serão consideradas como tendo sido realizadas por você, que será responsável e pagará as
  despesas e/ou danos decorrentes de qualquer acesso e/ou uso não autorizado realizado antes da referida comunicação. A
  comunicação deverá ser feita por meio do e-mail
  <a href="mailto:contato@innovatenet.com.br">contato&#64;innovatenet.com.br</a>. Todas as condições relativas à
  proteção e segurança de seus dados pessoais e sua privacidade constam na "Política de Privacidade para Clientes e
  Usuários do Site, App e Demais Aplicações de Internet" da InnovateNet ("Política de Privacidade"), disponível por meio
  do link
  <a href="https://www.innovatenet.com.br/auth/privacy-policy">https://www.innovatenet.com.br/auth/privacy-policy</a>.
  Ao dar o aceite nestes Termos, você concorda expressamente com a coleta, uso, divulgação e retenção de seus dados
  pessoais conforme descrito na nossa Política de Privacidade.
</p>
<p>
  <strong>O CONTEÚDO DO APLICATIVO</strong> Exceto pelos seus dados cadastrados por você, todo o conteúdo do Aplicativo,
  assim como sua formatação gráfica e editorial, são propriedades da InnovateNet e/ou de terceiros que contribuem para a
  formação deste conteúdo, ou ainda de nossos outros provedores de conteúdo, de modo que o uso e o acesso ao referido
  conteúdo não deverão ser compreendidos como cessão ou atribuição, aos Usuários, de quaisquer direitos de tecnologia
  e/ou propriedade intelectual associados a este conteúdo. O Usuário reconhece expressamente que o Aplicativo, assim
  como os logotipos, marcas, insígnias, símbolos, sinais distintivos, trade dress, manuais, documentação técnica
  associada e quaisquer outros materiais correlatos constituem, conforme o caso, direitos autorais, segredos comerciais
  e/ou outros direitos de propriedade da InnovateNet, sendo tais direitos protegidos pela legislação nacional e
  internacional aplicável à propriedade intelectual, em especial e Lei 9.279/96 e as Leis números 9.609 e 9.610 de 1998.
  Fica expressamente vedado ao Usuário, em relação ao Aplicativo: ceder, doar, alugar, vender, arrendar, emprestar,
  reproduzir, modificar, adaptar, traduzir, disponibilizar o acesso de terceiros, on-line, remoto ou de outra forma;
  incorporar a outros sistemas ou programas, próprios ou de terceiros; oferecer em garantia ou penhor; alienar ou
  transferir, total ou parcialmente, a qualquer título, de forma gratuita ou onerosa; decompilar, mudar a engenharia
  (reengenharia), realizar engenharia reversa ou dar qualquer outra destinação ao Aplicativo e seu conteúdo – ou parte
  destes – que não seja a simples utilização, na forma destes Termos. Se você baixar qualquer conteúdo do Aplicativo,
  você será o único responsável por qualquer dano ao seu sistema de computador, dispositivo móvel ou qualquer outro
  dispositivo utilizado para realizar o download, bem como por eventual perda de seus dados resultante do download.
</p>
<p>
  <strong>RESTRIÇÕES DE USO DO APLICATIVO</strong> Seu acesso e uso do Aplicativo são limitados aos fins descritos
  nestes Termos. Você garante que não irá hackear, fazer engenharia reversa ou de outra forma interferir em nossas
  tecnologias, incluindo, além do Aplicativo, todo o seu conteúdo, tais como, sem limitação, bancos de dados, software,
  hardware e qualquer outra tecnologia que nós ou terceiros utilizam para operar o Aplicativo, sua estrutura,
  organização e seus dados, informações e código de software subjacentes. Você garante, ainda, que não irá
  disponibilizar no Aplicativo arquivos e/ou documentos que possam conter vírus ou outros elementos eletrônicos que
  venham a causar danos a terceiros ou impedir o uso normal do Aplicativo e dos serviços disponibilizados, e tampouco
  fará o upload ou publicação no Aplicativo de quaisquer informações ou dados que você não tenha o direito de
  disponibilizar em razão qualquer lei ou contrato.
</p>
<p>
  <strong>MODIFICAÇÕES</strong> Modificações a estes Termos: Podemos modificar estes Termos a qualquer momento e a nosso
  exclusivo critério. Sempre que houver uma modificação, você será comunicado por e-mail e eventualmente poderá ser
  solicitado, quando acessar o Aplicativo, a aceitar tais mudanças como um novo contrato. A manutenção do seu cadastro e
  utilização do Aplicativo representará sua aceitação aos novos Termos. Modificações no Aplicativo: Também podemos
  modificar o Aplicativo a qualquer momento e a nosso exclusivo critério, incluindo o lançamento de atualizações,
  upgrades ou outras correções de software. As modificações têm o objetivo de beneficiá-lo, mas podem resultar em
  alteração ou interrupção de determinados recursos do Aplicativo. Se não concordar com uma modificação realizada por
  nós, você poderá interromper o uso do Aplicativo e excluir o seu cadastro. No entanto, a continuação do uso do
  Aplicativo por você será considerada uma aceitação tácita de todas e quaisquer modificações realizadas.
</p>
<p>
  <strong>LIMITAÇÃO DE RESPONSABILIDADE</strong> Até o limite permitido por lei, você reconhece expressamente que a
  InnovateNet, seus sócios, administradores, executivos, funcionários, agentes, advogados, contratados independentes,
  suas controladoras, controladas, subsidiárias, joint ventures, parceiros comerciais, licenciantes, funcionários,
  agentes e provedores de informações não serão responsabilizados por quaisquer danos indiretos, punitivos, incidentais,
  especiais, consequentes ou outros tipos de danos, incluindo, entre outros, danos por cobertura ou perda de uso, dados,
  receita ou lucros, decorrentes ou de alguma forma relacionados ao uso ou desempenho do Aplicativo, seja com base em
  contrato, negligência ou responsabilidade objetiva.
</p>
<p>
  A InnovateNet não oferece nem nunca ofereceu qualquer tipo de garantia aos Usuários, ou a qualquer terceiro a respeito
  da utilização do Aplicativo. A InnovateNet não poderá ser responsabilizada por vícios ou defeitos técnicos e/ou
  operacionais oriundos do sistema ou de informações do Usuário ou de terceiros. Apesar de aplicar as melhores
  tecnologias e recursos de proteção do mercado, InnovateNet não garante a eventual presença de vírus ou qualquer outro
  elemento eletrônico nocivo, que possa danificar dados, informações ou o funcionamento de computadores ou dispositivos
  móveis, impedindo o uso normal da rede, do sistema ou dos equipamentos de terceiros. Neste sentido, a InnovateNet se
  exime de qualquer responsabilidade pelos danos e consequentes prejuízos de qualquer natureza decorrentes da presença
  de vírus ou outro código, arquivo ou programa recebido. A InnovateNet não garante que o Aplicativo estará disponível
  de forma ininterrupta ou livre de quaisquer erros ou falhas e tampouco assegura a impossibilidade do seu sistema e
  servidores poderem ser atacados, invadidos, modificados ou lesados, de qualquer forma, por terceiros. A InnovateNet
  não se responsabiliza por eventuais conflitos, erros, indisponibilidades e perda de dados decorrentes da utilização
  simultânea do Aplicativo com aplicativos e ferramentas do Usuário ou de terceiros.
</p>
<p>
  Igualmente, a InnovateNet não se responsabiliza pelo armazenamento de cópias de segurança (backups) referentes às
  informações inseridas no Aplicativo. A InnovateNet, seus sócios, administradores, executivos, funcionários, agentes,
  advogados, contratados independentes, suas controladoras, controladas, subsidiárias, joint ventures, parceiros
  comerciais, licenciantes, funcionários, agentes e provedores de informações de terceiros não são e nem serão
  responsáveis, em qualquer hipótese (i) pela qualidade da conexão do dispositivo do Usuário à internet; (ii) pela
  disponibilidade (ou não) de serviços oferecidos por terceiros, incluindo os serviços de acesso à internet prestados
  por operadoras de serviços de telecomunicações e/ou quaisquer terceiros, serviços bancários e quaisquer outros; (iii)
  pela impossibilidade de utilização de quaisquer dos serviços acima mencionados em razão da incompatibilidade dos
  serviços com a configuração técnica do computador, aparelho celular e/ou qualquer outro dispositivo utilizado pelo
  Usuário para este fim; (iv) pela desobediência, por parte do Usuário ou terceiros, aos Termos aqui estabelecidos e à
  legislação vigente; (v) por quaisquer danos sofridos pelo Usuário em razão da utilização do Aplicativo; e (vi) pela
  reparação de danos de qualquer natureza causados pela violação de privacidade ou segurança de dados do Usuário durante
  a conexão de seu computador, aparelho celular e/ou qualquer outro dispositivo utilizado pelo Usuário para acesso à
  internet por meio de serviços oferecidos por terceiros.
</p>
<p>
  <strong>INDENIZAÇÃO PELO USUÁRIO</strong> Você concorda em defender, indenizar e isentar de responsabilidade a
  InnovateNet e suas afiliadas acerca de todas e quaisquer reivindicações, perdas, responsabilidades, danos, despesas e
  custos que resultem de qualquer reivindicação ou alegação decorrente de qualquer maneira de: (1) seu acesso ou uso do
  Aplicativo; (2) sua violação ou alegada violação de leis ou regulamentos aplicáveis; (3) sua violação de qualquer
  direito de terceiros, incluindo qualquer direito de propriedade intelectual; (4) sua negligência ou conduta dolosa; ou
  (5) sua violação ou alegada violação de qualquer representação, garantia ou outra cláusula destes Termos. A
  InnovateNet fará todos os esforços razoáveis para notificá-lo acerca de qualquer reclamação ou alegação e você terá o
  direito de participar da defesa de qualquer reclamação.
</p>
<p>
  <strong>VIGÊNCIA E EXTINÇÃO</strong> Estes Termos entram em vigor a partir da data em que você acessar ou utilizar o
  Aplicativo pela primeira vez, independentemente do seu cadastro, e continuarão vigentes até serem extintos pela
  InnovateNet ou você solicitar a baixa do seu cadastro do Aplicativo por meio das vias adequadas. Após a extinção
  destes Termos ou da sua solicitação de baixa do seu cadastro do Aplicativo, por qualquer motivo: (1) todos os direitos
  concedidos a você sob estes Termos serão encerrados; e (2) você interromperá imediatamente todo o uso e acesso ao
  Aplicativo. Todos os seguintes itens sobreviverão a qualquer expiração ou rescisão destes Termos: Declarações do
  Usuário, Conteúdo do Aplicativo, Restrições de Uso do Aplicativo, Limitação de Responsabilidade, Indenização pelo
  Usuário e Lei Aplicável e Foro.
</p>
<p>
  <strong>FORMAS DE PAGAMENTO</strong> O Usuário poderá realizar as compras dentro do Aplicativo, utilizando um dos
  meios de pagamento disponíveis no Aplicativo.
</p>
<p>
  <strong>DISPOSIÇÕES GERAIS</strong> A InnovateNet poderá enviar comunicações diversas aos Usuários relativas ao uso do
  Aplicativo e suas Funcionalidades, sempre em conformidade com o disposto na Política de Privacidade e a usabilidade do
  Aplicativo pelo Usuário. No caso em que as comunicações encaminhadas pela InnovateNet não lhe forem entregues em razão
  do seu fornecimento de dado inválido, incorreto, desatualizado ou que de qualquer outra forma prejudique a entrega da
  referida comunicação, então (a) iremos considerar como devidamente entregue a comunicação e (b) podemos considerar sua
  conta inativa e suspender seu acesso ao Aplicativo. Será de responsabilidade integral do Usuário verificar o seu
  e-mail para acompanhar o recebimento das comunicações, inclusive as caixas de spam e lixo eletrônico, não cabendo
  qualquer reclamação posterior junto à InnovateNet neste sentido.
</p>
<p>
  Cabe exclusivamente ao Usuário obter os dispositivos, equipamentos e/ou serviços necessários para acesso e utilização
  do Aplicativo, incluindo serviços de conexão à internet com antivírus e firewall habilitados, softwares devidamente
  atualizados, além da adoção de outras medidas de segurança aplicáveis. O uso do Aplicativo poderá consumir dados do
  plano de celular e/ou do Wi-Fi do Usuário, sendo que esse eventual custo de responsabilidade exclusiva do Usuário, não
  tendo a InnovateNet qualquer responsabilidade nesse sentido. Estes Termos, em conjunto com a Política de Privacidade,
  constituem o acordo integral entre você e a InnovateNet no que diz respeito ao uso do Aplicativo, substituindo
  quaisquer outros eventuais acordos existentes sobre o objeto. As partes atuarão de acordo com estes Termos como
  contratantes independentes, não se estabelecendo entre elas sociedade, parceria ou organização comercial de qualquer
  tipo. Estes Termos são vinculantes e se revertem em benefício de e são exequíveis pelas partes e seus respectivos
  herdeiros, sucessores e cessionários. A inexequibilidade de qualquer disposição não afetará qualquer outra disposição
  destes Termos, e quaisquer disposições não executáveis serão limitadas ou eliminadas na extensão mínima necessária. A
  tolerância do eventual descumprimento de quaisquer das cláusulas e condições destes Termos não constituirá novação das
  obrigações aqui estipuladas e tampouco impedirá ou inibirá a sua exigibilidade, a qualquer tempo.
</p>
<p>
  <strong>OS PRESENTES TERMOS REGEM A RELAÇÃO ENTRE</strong> A InnovateNet
  <strong>E OS USUÁRIOS LOCALIZADOS NO TERRITÓRIO BRASILEIRO.</strong>
  <strong>
    O USO DO APLICATIVO FORA DO TERRITÓRIO BRASILEIRO SUJEITARÁ O USUÁRIO AOS TERMOS E À LEGISLAÇÃO APLICÁVEL NO
    RESPECTIVO TERRITÓRIO.
  </strong>
  Quaisquer dúvidas, críticas, sugestões e/ou reclamações poderão ser feitas pelos seguintes canais de comunicação:
  <a href="https://www.innovatenet.com.br/contato">https://www.innovatenet.com.br/contato</a>
</p>
