::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0 !important;
}

.login {
  .container-password,
  .container-password .links {
    display: flex;
    justify-content: space-between;
  }
  .container-password {
    flex-direction: column;
  }
}
