<div class="flex flex-col items-center justify-center h-screen">
  <div class="py-3 px-5 w-full max-w-md">
    <h1 class="text-center mb-5">Entre com a sua conta</h1>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="px-5 flex flex-col gap-y-5">
        <div class="flex flex-col">
          <label>Email</label>
          <input
            formControlName="email"
            type="text"
            placeholder="Insira seu email"
            class="border-b outline-none pt-2"
          />
        </div>

        <div class="flex flex-col">
          <label>Senha</label>
          <input
            formControlName="password"
            type="password"
            placeholder="Insira uma senha"
            class="border-b outline-none pt-2"
          />
        </div>

        <div>
          <button
            [disabled]="formLogin.invalid"
            class="w-full bg-blue-500 text-white py-3 rounded-full hover:bg-blue-600 cursor-pointer"
          >
            Realizar login
          </button>
        </div>
        <div class="flex gap-2">
          Não tem uma conta?<a
            href="auth/register"
            class="underline text-blue-500"
            >Cadastrar-se</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
