<div class="flex flex-col items-center justify-center h-screen">
  <div class="py-3 px-5 w-full max-w-md">
    <ng-container *ngIf="message$ | async as response">
      <mat-error *ngIf="response.error">
        {{ response.message }}
      </mat-error>
      <mat-hint *ngIf="!response.error">
        {{ response.message }}
      </mat-hint>
    </ng-container>

    <h1 class="text-center mb-5">Entre com a sua conta</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="px-5 flex flex-col gap-y-5">
        <app-input-email (trigger)="onFireEvent('email', $event)"></app-input-email>
        <app-input-password (trigger)="onFireEvent('password', $event)"></app-input-password>
        <div>
          <button
            type="submit"
            [disabled]="form.invalid || (isLoading$ | async)"
            class="w-full bg-blue-500 text-white py-3 rounded-full hover:bg-blue-600 cursor-pointer disabled:bg-slate-500">
            <span *ngIf="!(isLoading$ | async)">Realizar login</span>
            <mat-spinner
              color="basic"
              style="display: inline-block; min-height: inherit"
              diameter="18"
              *ngIf="isLoading$ | async"></mat-spinner>
          </button>
        </div>
        <div class="flex gap-2">
          Não tem uma conta?<a routerLink="/auth/register" class="underline text-blue-500">Cadastrar-se</a>
        </div>
      </div>
    </form>
  </div>
</div>
