<div class="flex flex-col items-center justify-center h-screen">
  <div class="py-3 px-5 w-full max-w-md">
    <mat-error *ngIf="error$ | async as error">
      {{ error.message }}
    </mat-error>
    <mat-hint *ngIf="loginResponse$ | async as response">
      {{ response.message }}
    </mat-hint>
    <h1 class="text-center mb-5">Entre com a sua conta</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="px-5 flex flex-col gap-y-5">
        <mat-form-field class="flex flex-col">
          <label>Email</label>
          <input
            matInput
            formControlName="email"
            type="text"
            placeholder="Insira seu email"
            class="border-b outline-none pt-2" />
        </mat-form-field>

        <mat-form-field class="flex flex-col">
          <label>Senha</label>
          <input
            matInput
            formControlName="password"
            [type]="changeTexts ? 'password' : 'text'"
            placeholder="Insira uma senha"
            class="border-b outline-none pt-2" />
          <mat-icon style="cursor: pointer" (click)="changeTexts = !changeTexts" matSuffix>{{
            changeTexts ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </mat-form-field>

        <div>
          <button
            type="submit"
            [disabled]="form.invalid"
            class="w-full bg-blue-500 text-white py-3 rounded-full hover:bg-blue-600 cursor-pointer disabled:bg-slate-500">
            <span *ngIf="!(isLoading$ | async)">Realizar login</span>
            <mat-spinner
              style="display: inline-block; min-height: 23px"
              diameter="16"
              *ngIf="isLoading$ | async"></mat-spinner>
          </button>
        </div>
        <div class="flex gap-2">
          Não tem uma conta?<a href="auth/register" class="underline text-blue-500">Cadastrar-se</a>
        </div>
      </div>
    </form>
  </div>
</div>
