@import '../../../../themes/mixins';

.page-404 {
  height: calc(100vh - 544px);
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .container-404,
    .container-404 .text {
      display: flex;
    }
    .container-404 {
      gap: 1rem;
      flex: 1 1 auto;
      overflow: hidden;
      .text {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        height: 30rem;
        h1 {
          color: var(--color-dark-blue-darkness);
          font-size: 10rem;
          font-weight: 600;
          font-family: AntonSC;
          text-align: center;
        }
      }
      .text:nth-child(2) h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: center;
      }
    }
    // only div with support info
    .container-404.support .text {
      justify-content: flex-start;
    }
  }
}
@media screen and (max-width: 768px) {
  .page-404 {
    .wrapper {
      .container-404 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text h1 {
          font-size: 4rem;
        }
        .text:nth-child(2) {
          h1 {
            line-height: 1.5rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
