<main class="main">
  <app-toolbar></app-toolbar>
  <button (click)="printPdf()" mat-button>Imprimir</button>
  <div class="container">
    <h4>POLÍTICA DE PRIVACIDADE PARA CLIENTES E USUÁRIOS DO SITE, APP E DEMAIS APLICAÇÕES DE INTERNET</h4>

    <section>
      <h5>InnovateNet</h5>
      <p>
        A ROBERTO ROSA CONSULTORIA LTDA ("InnovateNet") está comprometida com a conscientização dos usuários do site
        <a href="http://diario.innovatenet.com.br">http://diario.innovatenet.com.br</a>, do aplicativo "Diário" e de
        demais aplicações de internet de titularidade ou operados pela InnovateNet. Por isso, apresentamos nossa
        política de privacidade ("Política de Privacidade"), que tem por objetivo fornecer informações claras e precisas
        aos Titulares acerca do tratamento de dados pessoais realizado pela InnovateNet Esta Política de Privacidade
        visa apresentar de forma objetiva as características e hipóteses de tratamento de seus dados pessoais realizadas
        exclusivamente pela InnovateNet.
      </p>
      <p>
        Para mais informações acerca do tratamento de dados pessoais realizado no âmbito das atividades da InnovateNet,
        entre em contato com o Encarregado de Proteção de Dados da InnovateNet. Nosso objetivo é fornecer nossos
        produtos e serviços, garantindo a sua privacidade e protegendo os seus dados, conforme explicado nessa Política
        de Privacidade. Caso você não concorde com nossas práticas,
        <strong>não utilize nossos sistemase plataformas.</strong>
      </p>
    </section>

    <section>
      <h5>Quem é o controlador de seus dados pessoais?</h5>
      <p>
        <strong>A ROBERTO ROSA CONSULTORIA LTDA.</strong>, sociedade inscrita no
        <strong>CNPJ/ME sob nº 54.093.240/0001-42</strong>, com sede na
        <strong>R. Passagem Ângelo Bianchy, nº 290, Centro, na Cidade de Osasco/SP, CEP: 06018-150</strong>, é a empresa
        controladora dos dados pessoais tratados no âmbito desta Política de Privacidade.
      </p>
      <p>
        Para fins da legislação aplicável, "controlador" é a quem compete as decisões referentes ao tratamento de dados
        pessoais. Nos termos da
        <strong>Lei Geral de Proteção de Dados Pessoais (Lei n. 13.709/18 ou “LGPD”)</strong>, a InnovateNet é
        responsável apenas pelas atividades de tratamento de dados pessoais dos Titulares que a própria InnovateNet
        realizar no contexto das suas operações e estabelecimentos, mas não pelas atividades de processamento das
        empresas franqueadas da InnovateNet (conforme definido abaixo). Conforme será detalhado na presente Política de
        Privacidade, os seus dados pessoais poderão ser compartilhados com empresas franqueadas, franqueadora e empresas
        do grupo (em conjunto com a InnovateNet, "InnovateNet") e/ou empresas parceiras da InnovateNet para fins
        estritamente relacionados à gestão e operação do Site e das demais aplicações de Internet da InnovateNet, bem
        como para aprimoramento dos produtos, programas e serviços oferecidos pela InnovateNet, hipóteses em que tais
        empresas também poderão ser controladoras independentes de seus dados pessoais.
      </p>
      <p>
        Especificamente no que se refere às empresas franqueadas pertencentes à InnovateNet, podemos compartilhar os
        dados pessoais dos Titulares com tais empresas, com a finalidade estritamente necessária para viabilizar a
        fabricação e a entrega de serviços e/ou a prestação dos nossos serviços ao Cliente.
      </p>
      <p>
        Exceto pelas atividades descritas acima, existe a possibilidade de seus dados pessoais serem tratados pelas
        empresas franqueadas pertencentes à InnovateNet para outras finalidades, as quais a InnovateNet não tem qualquer
        dirigerência e/ou participação em sua realização.
        <strong
          >NESTAS CIRCUNSTÂNCIAS, A InnovateNet NÃO É RESPONSÁVEL POR TAIS ATIVIDADES DE TRATAMENTO DE DADOS PESSOAIS
          NOS TERMOS DA LGPD.</strong
        >
      </p>
    </section>

    <section>
      <h5>Quais dados pessoais tratamos?</h5>

      <p>A InnovateNet trata dados pessoais de Titulares que são coletados e/ou processados:</p>
      <ul>
        <li>(a) durante o acesso e/ou navegação do Site, do App, e demais aplicações de Internet da InnovateNet;</li>
        <li>
          (b) antes, durante ou após o fornecimento de produtos e/ou prestação dos serviços pela InnovateNet.
          Especificamente, a InnovateNet coleta as seguintes informações dos Titulares e/ou Clientes, conforme o caso:
          Informações Cadastrais. Ao criar sua conta no Site, no App, o Titular fornecerá os seguintes dados pessoais
          (conforme aplicável):
        </li>
        <ul>
          <li>(i) Nome completo;</li>
          <li>(ii) Endereço de e-mail;</li>
          <li>(iii) Endereço residencial e endereço informadopara entrega de produtos;</li>
          <li>(iv) Telefones para contato;</li>
          <li>(v) CPF;</li>
          <li>
            (vi) data de nascimento, entre outros dados de identificação ou necessários para o cadastro junto à
            InnovateNet. Alguns destes dados podem ser voluntariamente fornecidos pelo Cliente ao adquirir um produto
            e/ou contratar algum serviço nos serviços da InnovateNet.
          </li>
        </ul>
      </ul>
    </section>

    <section>
      <h3>Informações sobre pagamentos.</h3>
      <p>
        A InnovateNet poderá coletar dados transacionais para processamento de compras feitas através do App (por
        exemplo: dados que constam dos cartões de crédito, cartão de débito etc.).
      </p>

      <h3>Informações de navegação e uso.</h3>
      <p>
        A InnovateNet poderá coletar outros dados quando o Usuário utiliza o Site, tais como: geolocalização incluso se
        a aplicação não está em uso, páginas visitadas ou anúncios visualizados, dados do device (fingerprint e ID),
        comportamento de compra e preferências na escolha de produtos, etc.
      </p>
      <p>
        O Usuário pode optar por não fornecer algumas informações, desde que não sejam necessárias para o fornecimento
        dos produtos, a prestação dos serviços e/ou utilização do Site, do App, mas é provável que a sua experiência com
        o Site, o App, não conte com todos os recursos oferecidos pela InnovateNet. Por exemplo, a InnovateNet poderá
        precisar coletar informações sobre a sua localização para permitir melhorar a usabilidade dos serviços, bem como
        para lhe enviar notificações de push, que podem variar a depender da sua proximidade de um de nossos serviços.
      </p>
      <p>
        Registros de acesso e demais informações automatizadas. A InnovateNet poderá coletar e armazenar algumas
        informações que recebe automaticamente toda vez que o Usuário interage com o Site, com o App, e/ou com outras
        aplicações de internet. Internet Protocol (IP), tipo de navegador, bem como datas e horas das interações do
        Usuário com as plataformas, são alguns exemplos desta coleta. Registro de visita aos serviços da InnovateNet e
        cadastro às redes de Wi-fi. A InnovateNet poderá coletar e armazenar algumas informações que recebe
        automaticamente toda vez que o Cliente visita os serviços da InnovateNet.
      </p>
      <p>
        A InnovateNet poderá receber e armazenar algumas informações a seu respeito que recebe de aplicativos de
        serviços de messageria que são operados por terceiros (por exemplo, instagram). Outras fontes. Por fim, a
        InnovateNet poderá receber e armazenar outras informações a seu respeito, tais como as informações fornecidas
        por entidades de apoio ao crédito, para fins de evitar fraudes e demais riscos relacionados a transações
        financeiras eletrônicas.
      </p>
    </section>

    <section>
      <h5>Para quais finalidades coletamos seus dados?</h5>

      <p>
        Os dados pessoais dos Titulares e/ou Clientes, conformeo caso, são tratados pela InovaNetpara as seguintes
        finalidades: Disponibilizar aos Titulares um ambiente eletrônico por meio do qual os Usuários podem obter mais
        informações sobre os produtos e serviços da InnovateNet; Viabilizar a formalização da compra de um produto e/ou
        a contratação de um serviço através do Site, do App, ou dos serviços da InnovateNet; Viabilizar a entrega e/ou
        retirada de produtos adquiridos através do Site, do App; Formalizar a participação de Titulares em concursos,
        prêmios e demais ações promocionais promovidas pela InnovateNet; Entrar em contato com os Titulares para
        informar sobre o processamento de seus pedidos e solicitações, assim como para informar-lhe sobre ofertas,
        programas, sorteios ou promoções da InnovateNet ou de seus parceiros comerciais, incluindo através de
        notificações de push, enviadas de acordo com a localização do Titular;
      </p>
      <p>Entrar em contato com os Titulares, para enviar informações sobre:</p>
      <ul>
        <li>
          (a) produtos e/ou serviços oferecidos pela InnovateNet e demais informações relevantes sobre a InnovateNet;
        </li>
        <li>(b) alterações relevantes nas funcionalidades do Site, do App</li>
        <li>(c) outros assuntos que a InnovateNet julgue que possam interessar os Titulares;</li>
      </ul>
      <p>
        Aprimorar os serviços e/ou funcionalidades do Site,do App; Aprimorar as iniciativas comerciais e promocionais da
        InnovateNet, bem como melhorar nossa oferta de conteúdos e produtos personalizados que possam interessar os
        Titulares, o que pode incluir o desenvolvimento de campanhas de marketinge o enviode notificações de
        push,enviadas de acordo com a localização do Titular; Mediante autorização do Titular, analisar as informações
        de compras de nossos produtos em diferentes canais (incluindo, mas não se limitando, as compras realizadas nos
        serviços da InnovateNet, no App) para identificar as preferências do Titular e apresentar produtos, serviçose
        ofertas que possam interessar o Titular; Fornecer serviços de conectividade WI-FI nos serviços da InnovateNet;
        Classificar e agrupar informações de Titulares, assim como consolidar dados estatísticos a respeito
        desses,inclusive para definira composição da base de Usuários do Site, do App, e o volume de tráfego em nossos
        servidores.
      </p>
    </section>

    <section>
      <h5>Com quem compartilhamos seus dados pessoais?</h5>

      <p>
        Prestadores de serviços ou parceiros comerciais: Podemoscompartilhar seus dadospessoais com prestadores de
        serviços ou parceiros comerciais da InovaNetpara fins de:
      </p>
      <ul>
        <li>(a) fornecimento de software, sistemasantifraude e/ou ferramenta para gestão de Clientes;</li>
        <li>(b) processamento das transações por cartão de crédito ou demais meios de pagamento;</li>
        <li>(c) geração de leads,prospecção de clientes e desenvolvimento de ações de marketing;</li>
        <li>(d) prestação de serviços logísticos dos pedidos realizados através do Site, do App;</li>
        <li>(e) auxílio no gerenciamento de promoções;</li>
        <li>(f) prestação de serviços de atendimento ao consumidor;</li>
        <li>
          (f) gestão e aprimoramento do Site, do App, e/ou. Tais agentesrecebem seus dadospessoais para a realização de
          uma destas atividades, e estão sujeitos a estritas obrigações de confidencialidade e proteção de dados
          pessoais em relação à InnovateNet.
        </li>
      </ul>

      <p>
        Requisição de autoridade competente: A InnovateNet ainda poderá compartilhar seus dados pessoais com terceiros
        (incluindo órgãos governamentais) a fim de responder a investigações, medidasjudiciais, processos judiciaisou
        investigar, impedirou adotar medidas acerca de atividades ilegais, suspeita de fraude ou situações que envolvam
        ameaçasem potencial à segurança físicade qualquer pessoaou se de outra maneiraexigido pela legislação.
        InnovateNet: Podemos compartilhar os dados pessoais dos Titulares com as demais empresas pertencentes à
        InnovateNet, com a finalidade estritamente necessária para viabilizar a fabricação e a entrega de produtos e/ou
        a prestação dos nossos serviçosao Cliente. Novos negócios: Se a InnovateNet estiver envolvida em uma fusão,
        aquisição ou venda de todos ou de parte de seus ativos, seus dados pessoais poderão ser transferidos para a
        empresa ou pessoa adquirente. Em circunstâncias nas quais a identidade do controlador de seus dados pessoais se
        alterar como resultado de qualquer transação, você será notificado de quaisquer escolhas que possa ter acerca de
        seus dados pessoais.
      </p>
    </section>

    <section>
      <h5>E a transferências de seus dados pessoais para fora do Brasil?</h5>
      <p>
        A InnovateNet poderá transferir alguns de seus dados pessoais a prestadores de serviços no exterior, incluindo
        prestadores de serviços em nuvem. Quando seus dados pessoais forem transferidos para fora do Brasilpela
        InnovateNet, a InnovateNet adotará medidas apropriadas para garantira proteção adequadade seus dados pessoais em
        conformidade com os requisitos da legislação aplicável de proteção de dados, incluindo a celebração de contratos
        apropriados de transferência de dados com terceiros quando exigidos.
      </p>

      <h5>Por quanto tempo vamos reter seus dados pessoais?</h5>

      <p>A InnovateNet armazena e mantém suas informações:</p>
      <ul>
        <li>(i) pelo tempo exigido por lei;</li>
        <li>(ii) até o término do tratamento de dados pessoais, conforme mencionado abaixo;</li>
        <li>
          (iii) caso haja base legal válida para justificar a manutenção das informações, como por exemplo, pelo tempo
          necessário a preservar o legítimo interesse da InnovateNet ou para cumprimento de obrigação legal ou
          regulatória.
        </li>
      </ul>

      <p>
        O término do tratamento de dados pessoais ocorrerá nos seguintes casos: Quando a finalidade pela qual os dados
        pessoais do Titular foram coletados for alcançada e/ou os dados pessoais coletados deixarem de ser necessários
        ou pertinentes ao alcance de tal finalidade; Quando o Titular estiverem seu direito de solicitar o término do
        tratamento e a exclusão de seus dados pessoais e o fizer; Quando houver uma determinação legal neste sentido.
        Nesses casos de término de tratamento de dados pessoais, ressalvadas as hipóteses estabelecidas pela legislação
        aplicável ou pela presente Política de Privacidade, os dados pessoais serão eliminados.
      </p>
    </section>

    <section>
      <h5>Quais são os seus direitos em relação aos dados pessoais que tratamos sobre você?</h5>

      <p>
        Você terá determinados direitos em relação aos seus dados pessoais. Tais direitos incluem, mas não se limitam a:
        Receber informações claras e completas sobre o tratamento de seus dados pessoais, incluindo sobre as hipóteses
        de compartilhamento de dados pessoais; Solicitar o acesso a seus dados pessoais e/ou a confirmação da existência
        de tratamento de dados; Solicitar que retifiquemos quaisquer dados pessoais imprecisos, incompletos e
        desatualizados; Se opor às atividades de tratamento, solicitara anonimização e eliminação de dados pessoais, em
        circunstâncias específicas; Solicitar a portabilidade de seus dados pessoais; Revogar o consentimento a qualquer
        momento, quando a InnovateNet tratar seus dados pessoais com base no consentimento; Solicitar a revisão de
        decisõesautomatizadas que possam afetarseus interesses. Você poderáexercer tais direitos mediantecontato com o
        Encarregado de Proteção de Dados. Proteção de dados pessoais A InnovateNet utiliza medidas técnicas e
        organizacionais apropriadas para proteger seus dados pessoais contra tratamento desautorizado ou ilegal e contra
        perda acidental, destruição ou danos. Seus dados pessoais são armazenados de maneira segura em equipamentos
        protegidos. Apenas um número limitado de pessoas terá acesso a tais equipamentos e apenas indivíduos com motivos
        legítimos terão acesso a seus dados pessoais. Alterações a esta Política de Privacidade A InnovateNet se reserva
        o direito de alterar esta Política de Privacidade a qualquer momento, mediante publicação da versão atualizada
        no endereço http://diario.innovatenet.com.br/auth/privacy-policy. Em caso de alterações relevantes nestaPolítica
        de Privacidade, o Titular receberá um aviso a esse respeito.
      </p>

      <h5>Interações com sites de terceiros</h5>
      <p>
        Podemos disponibilizar links para outros sites na Internet. A InnovateNet NÃO SE RESPONSABILIZA POR ESTES SITES
        E CONTEÚDOS E, AINDA, NÃO COMPARTILHA, SUBSCREVE, MONITORA, VALIDA OU ACEITAA FORMA COMO ESSES SITES OU
        FERRAMENTAS DE ARMAZENAMENTO DE CONTEÚDO COLETAM, PROCESSAM E TRANSFEREM SUAS INFORMAÇÕES PESSOAIS. Recomendamos
        que o Titular consulte as respectivas políticas de privacidade de tais sites para se informar adequadamente a
        respeito do uso de suas informações pessoais por outros sites ou outras ferramentas.
      </p>

      <h5>Dúvidas sobre esta Política de Privacidade</h5>
      <p>
        Se você tiver qualquer dúvida em relação a esta Política de Privacidade ou a respeito da forma como a
        InnovateNet trata seus dados pessoais, você deverá entrar em contatocom nossa Centralde Privacidade pelo link ou
        pelo e-mail: contato&#64;innovatenet.com ou pelo endereço: R. Passagem Ângelo Bianchy, 293, Centro, Osasco/SP,
        CEP: 06018-150, CEP 06160-040. Atualizada em: 23/04/2024
      </p>
    </section>
  </div>
  <app-footer></app-footer>
</main>
