@import './themes/mixins';
@import './themes/dark/dark';
@import './themes/light/light';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // light
  --text-accent: #ff4081;
  --text-light: #08090c50;
  --text-middle-orange: #e67e22;
  --text-middle-light: #585858;
  --text-green: #009688;
  --text-green-light: #00968850;

  --color-white: white;
  --color-whitesmoke: whitesmoke;
  --color-medium-white: #fafafa;

  --bg-light-color: #fafafa;
  --bg-dark-blue: rgb(2, 0, 36);
  // --bg-dark-blue: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(61, 61, 159, 1) 79%);

  --white-one: #fff;
  --white-two: #eee;
  --white-three: #ddd;
  --white-ice: #ecf0f1;
  --green-logo: #f2faf9;

  //dark
  --text-dark: #d65a31;
  --text-dark-green: #0ff5e6;
  --color-default-dark: #202124;
  --color-dark-secondary: #131722;
  --color-dark: #212121;
  --bg-dark-color: #505050;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #df3636;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --green-microsoft: #488a84ad;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// buton back
.btn-back {
  @include btn-icon-radio;
}

// button menu
.btn-menu {
  @include btn-icon-radio;
}
