<main class="user" [ngClass]="theme$ | async">
  <div class="page">
    <div class="container-photo">
      <app-input-photo class="photo"></app-input-photo>

      <div class="container-followers">
        <app-follwers [id]="userId$ | async" [profile]="userProfile$ | async"></app-follwers>
      </div>
    </div>

    <div class="container-user-details">
      <app-user-details [profile]="userProfile$ | async"></app-user-details>
    </div>
    @for (happen of profileHappens$ | async; track $index) {
    <app-feelings [id]="userId$ | async" [index]="$index" [happen]="happen"></app-feelings>
    }
  </div>
</main>
