<main class="user" [ngClass]="theme$ | async">
  <div class="page">
    <app-cover></app-cover>

    <div class="container-photo">
      <app-input-photo class="photo"></app-input-photo>

      <div class="container-followers">
        <app-follwers></app-follwers>
      </div>
      <div class="border-top-radious"></div>
    </div>

    <div class="container-user-details">
      <app-user-details></app-user-details>
    </div>

    <div class="container-feelings">
      @for (happen of profileHappens$ | async; track $index) {
      <app-feelings [index]="$index" [happen]="happen"></app-feelings>
      } @empty {
      <li>There are no items.</li>
      }
    </div>
  </div>
</main>
